<div class="text-center mt-24 text-8xl">
    <%= live_component @socket, LvexamplesWeb.Live.Components.EventsSelf, id: "events-self", counter: @counter %>
    <%= #live_component @socket, LvexamplesWeb.Live.Components.EventsSelf, id: "events-self2", counter: @counter %>
</div>
